body {
  font-family: serif;
  font-size: 16px;
  line-height: 1em;
  width: 600px;
  margin: 10px auto;
}

label {
  padding-right: 10px;
}

#submit{
  margin: 20px;
  width: 100px;
}

.submit{
 display: flex;
 justify-content: center;  
}

header {
  text-align: center;
  color: orange;
}

.form {
  padding: 1em 1em;
  background-color: #e9c56a4e;
}

form{
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  border-bottom: 1px solid black;
}

.form > h2 {
  border-bottom: 1px solid black;
  text-align: center;
  padding: 0.5em 0;
  color: #2a9d8f;
}

form > .field{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #264653;
  font-weight: 800;
}

#name {
  width: 70%;
}
